<section id="section_intro" class="container_12 clearfix">
  <div class="shim">
    <div class="grid_6 prefix_3">
      <h2>Coming Soon!</h2>
      <p style="margin-bottom:1.0em;">We've got plans for you. In no time at all, you'll be able to turn that boring GPS track of yours into an honest-to-goodness workout. No more grousing after the race about how you couldn't stick to your plan. Let's just hope you can keep your eye on the trail...</p>
      <p><a href="http://twitter.com/repaceme">Follow us on twitter for updates.</a></p>
    </div>
  </div>
</section>